@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-pacifico: 'Pacifico', 'Brush Script MT', cursive;
}

body {
  font-family: var(--font-inter);
}

.font-pacifico {
  font-family: var(--font-pacifico);
}
